<div class="row">
    <div class="col-12">
    <div class="header">
        <div class="container">
            <div class="card">
          <div class="d-flex justify-content-between align-items-center mb-3"> <span style="color:rgba(241, 21, 105, 0.986);font-weight: 500;font-size: 20px;">Hottest Deals</span> <a class="btn btn-outline-primary btn-sm" href="#" [routerLink]="['/display']" ><span class="custom-badge text-uppercase">See More</span></a> </div>
        
          <div class="row">
              <div class=" col-4 item">
                <div class="card">
                    <div class=" justify-content-between align-items-center top">
                        <div class="d-flex flex-row align-items-center "> <small class="ml-1 text-primary">3 Days</small></div> <img src="https://i.imgur.com/suuFVrQ.png" width="20">
                    </div>
                    <div class="text-center"> <img src="../../assets/image/new.png"> </div>
                    <div class="text-center">
                        <h5 class="title">REALME</h5> 
                    </div>
                </div>
              </div>
              <div class="col-4 item">
                <div class="card">
                    <div class=" justify-content-between align-items-center top">
                        <div class="d-flex flex-row align-items-center "> <small class="ml-1 text-primary">3 Days</small></div> <img src="https://i.imgur.com/suuFVrQ.png" width="20">
                    </div>
                    <div class="text-center"> <img src="../../assets/image/oneplus.png"> </div>
                    <div class="text-center">
                        <h5 class="title" style="font-size: 10px;">ONEPLUS</h5> 
                    </div>
                </div>
            </div>
            <div class="col-4 item">
                <div class="card">
                    <div class=" justify-content-between align-items-center top">
                        <div class="d-flex flex-row align-items-center "> <small class="ml-1 text-primary">3 Days</small></div> <img src="https://i.imgur.com/suuFVrQ.png" width="20">
                    </div>
                    <div class="text-center"> <img src="../../assets/image/new2.jpg" > </div>
                    <div class="text-center">
                        <h5 class="title">VIVO</h5> 
                    </div>
                </div>
            </div>
          </div>
          </div>
        </div>
        </div>
        </div>
        <div class="col-12">
    <app-productlist></app-productlist></div>
</div>
  <button type="button" class="btn btn-outline-primary btn-sm" id="view" (click)="display()">VIEW ALL</button>
<!-- </div> -->
<app-footer></app-footer>
