<div class="fixed">
    <header class="section-header">
     <section class="header-main border-bottom">
         <div class="container-fluid">
             <div class="row align-items-center">
                 <div class="col-lg-3 col-sm-4 col-md-4 col-6"> <a href="#" style="text-decoration:none;">
                    <span class="logo"><img src="../../../assets/image/logo3.png"></span> </a> </div>
                 <div class="col-lg-4 col-xl-5 col-sm-8 col-md-4 d-none d-md-block">
                     <form action="#" class="search-wrap">
                         <div class="input-group w-100"> <input type="text" class="form-control search-form" style="width:55%;" placeholder="Search">
                             <div class="input-group-append"> <button class="btn btn-primary search-button" type="submit"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                               <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                               <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                             </svg> </button> </div>
                         </div>
                     </form>
                 </div>
                 <div class="col-lg-5 col-xl-4 col-sm-8 col-md-4 col-6">
                     <div class="d-flex justify-content-end " >  
                         <div class=" btn-group"> <a [routerLink]="['/cart']" class="nav-link nav-icons" href="#" > 
                           <svg class="cart-svg " width="19 " height="19 " viewBox="0 0 16 16 ">
                             <path d="M15.32 2.405H4.887C3 2.405 2.46.805 2.46.805L2.257.21C2.208.085 2.083 0 1.946 0H.336C.1 0-.064.24.024.46l.644 1.945L3.11 9.767c.047.137.175.23.32.23h8.418l-.493 1.958H3.768l.002.003c-.017 0-.033-.003-.05-.003-1.06 0-1.92.86-1.92 1.92s.86 1.92 1.92 1.92c.99 0 1.805-.75 1.91-1.712l5.55.076c.12.922.91 1.636 1.867 1.636 1.04 0 1.885-.844 1.885-1.885 0-.866-.584-1.593-1.38-1.814l2.423-8.832c.12-.433-.206-.86-.655-.86 " fill="#fff "></path>
                         </svg>
                         <span class="item-number" >{{cartItemCount}}</span></a>
                         </div> 
                         <a class="nav-link d-none d-sm-block" href="#" [routerLink]="['/homepage']" ><span class="login">Home</span></a>
                         <a class="nav-link d-none d-sm-block" href="#" [routerLink]="['/home']"  ><span class="login">Products</span></a>
                     </div>
                 </div>
             </div>
         </div>
     </section>
     <nav class="navbar navbar-expand-md navbar-main border-bottom">
         <div class="container">
             <form class="d-md-none my-2">
                 <div class="input-group"> <input type="search" name="search" class="sear" placeholder="Search"  required="">
                     <div class="input-group-append"> <button type="submit" class="btn btn-secondary"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                       <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                       <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                     </svg> </button> </div>
                 </div>
             </form> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#dropdown6" > <span class="navbar-toggler-icon"></span> </button>
             <div class="navbar-collapse" id="dropdown6" >
                 <ul class="navbar-nav" id="nav">
                     <li class="nav-item d-sm-none"> <a class="nav-link" href="" [routerLink]="['/homepage']" >Home</a> </li>
                     <li class="nav-item d-sm-none"> <a class="nav-link" href="" [routerLink]="['/home']" >Products</a> </li>
                     <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="" data-toggle="dropdown">Mobiles</a>
                         <div class="dropdown-menu"> <a class="dropdown-item" href="" >OPPO</a> <a class="dropdown-item" href="" >Lenovo</a> <a class="dropdown-item" href="" >Redmi</a> </div>
                     </li>
                     <li class="nav-item"> <a class="nav-link" href="" >Refurbished Mobile</a> </li>
                     <li class="nav-item"> <a class="nav-link" href="" >Accessories & Peripheral</a> </li>
                     <li class="nav-item"> <a class="nav-link" href="" >Blog</a> </li>
                     <li class="nav-item"> <a class="nav-link" href="" >Support</a> </li>
                 </ul>
             </div>
         </div>
     </nav>
   </header>
   </div>
 