<div class="header">
    <div class="container-fluid">
        <div class=" col-xl-1 col-2"></div>
        <div class=" col-xl-10 col-lg-11 col-sm-12 ">
        <div class="row justify-content-end  align-items-center">
            <div class="col-md-6 col-xl-4 col-sm-5 col-lg-4 " id="content" >
                <h1>Give Your Workout A New Style!</h1>
                <p>Success isn't always about greatness. It's about 
                consistrncy. Consistent hard work gains success. greatness
                wil come.</p>
                <a [routerLink]="['/home']" class="btn">Explore Now &#8594;</a>
            </div>
            <div class="col-md-6 col-xl-5 col-sm-7 col-lg-5 " id="image">
                <img src="../../assets/image/banner.png" width="80%">
            </div>
          
        </div>
        </div>
        <div class=" col-xl-1 col-2"></div>
</div>
</div>


 <!-- -------- featured categories ------ -->
 <div class="categories">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-4 col-md-4 col-4 col-xl-3 ">
               <img src="../../assets/image/cat-1.jpg">
            </div>
            <div class="col-lg-4 col-sm-4 col-md-4 col-4 col-xl-3 ">
                <img src="../../assets/image/cat-2.jpg">
            </div>
            <div class="col-lg-4 col-sm-4 col-md-4 col-4 col-xl-3 ">
                <img src="../../assets/image/cat-3.jpg">
            </div>
        </div>
    </div> 
</div>



 <!-- -------- featured products----- -->
 <div class="container">
    <h2 class="title">RECENT LAUNCHES</h2>
    <div class="row justify-content-center feature">
        <div class=" col-xl-3 col-lg-3 col-md-3 col-sm-3 col-6 item">
            <div class="center">
            <img src="../../assets/image/realmenorzo.jpeg" >
            </div>
            <div class="detail">
          <h4>Realme Norzo</h4>
            <span> <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i></span>       
          <p>{{Amount | currency:'INR'}} </p>
          </div>
      </div>
      <div class=" col-xl-3 col-lg-3 col-md-3 col-sm-3 col-6 item">
        <div class="center">
            <img src="../../assets/image/realmec15.jpeg" >
            </div>      
              <div class="detail">
      <h4>RealmeC15</h4>
      <span> <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i></span>       <p>{{Amount1 | currency:'INR'}}</p>
      </div>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-6 item">
    <div class="center">
        <img src="../../assets/image/realmec11.jpeg" >
        </div>   
         <div class="detail">
  <h4>RealmeC11</h4>
  <span> <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i></span>   <p>{{Amount2 | currency:'INR'}}</p>
  </div>
</div>
<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-6 item">
    <div class="center">
        <img src="../../assets/image/oppoA12.jpeg" >
        </div>   
         <div class="detail">
  <h4>OppoA12</h4>
  <span> <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i></span>   <p>{{Amount3 | currency:'INR'}}</p>
  </div>
</div>
        
    </div>
</div>


<!-- -----offer---- -->

<div class="offer">
    <div class="container-fluid">
        <div class=" col-xl-1 col-2"></div>
        <div class=" col-xl-10 col-lg-11 col-sm-12 ">
        <div class="row justify-content-end  align-items-center">
            <div class="col-md-6 col-xl-4 col-sm-7 col-lg-5" id="img">
                <img src="../../assets/image/exclusive.png" width="70%">
            </div>
            <div class="col-md-6 col-xl-5 col-sm-5 col-lg-4" id="con">
                <h3>Exclusively Available on Redstore</h3>
                <h1>Smart Brand</h1>
                <small>The Mi Smart Brand 4 features a 39.9% larger AMOLED color full-touch display with adjustable
                    brightness, so everything is clear as can be.
                </small>
                <div>
                <a class="btn">Explore Now &#8594;</a>
                </div>
            </div>
        </div>
        </div>
        <div class=" col-xl-1 col-2"></div>
</div>
</div>


<!-- -----testimonial----- -->

<div class="testimonial">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-4 col-xl-2 col-lg-4 col-sm-4 col-8 mr-xl-2 py-sm-3 px-sm-3 test">
                <i class="fa fa-quote-left"></i>
                <p>
             It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
                </p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                  <img src="../../assets/image/user-1.png">
                  <h3>Sean Parker</h3>
            </div>
            <div class="col-md-4 col-xl-2 col-lg-4 col-sm-4 col-8 py-sm-3 px-sm-3 test">
                <i class="fa fa-quote-left"></i>
                <p>
             It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
                </p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                  <img src="../../assets/image/user-2.png">
                  <h3>Sean Parker</h3>
            </div>
            <div class="col-md-4 col-xl-2 col-lg-4 col-sm-4 col-8 ml-xl-2 py-sm-3 px-sm-3 test">
                <i class="fa fa-quote-left"></i>
                <p>
             It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
                </p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                  <img src="../../assets/image/user-3.png">
                  <h3>Sean Parker</h3>
            </div>
        </div>
    </div>
</div>

<!-- /* -------brands----- */ -->
<div class="brands">
    <div class="container-fluid ">
    <div class="justify-content-center brand">
        <div >
            <img src="../../assets/image/lenovo.png">
        </div>
        <div >
            <img src="../../assets/image/logo-oppo.png">
        </div>
        <div >
            <img src="../../assets/image/logo-realme.png">
        </div>
        <div >
            <img src="../../assets/image/logo-xiomi.png">
        </div>
        <div >
            <img src="../../assets/image/logo-oneplus.png">
        </div>
    </div>
    </div>
</div>
<app-footer></app-footer>

