<section id="sidebar">
   
    <div class="py-1 border-bottom ml-3">
        <h6 class="font-weight-bold" style="font-size: 20px;color:rgba(2, 148, 245, 0.973);">RAM</h6>
        <form>
            <div class="form-group"> <input type="checkbox"  value="6 GB"> <span style="font-size: 15px;font-weight: 600;"> 6 GB</span></div>
            <div class="form-group"> <input type="checkbox" value="4 GB"><span style="font-size: 15px;font-weight: 600;"> 4 GB</span> </div>
        </form>
    </div>
    <div class="py-1 border-bottom ml-3">
        <h6 class="font-weight-bold" style="font-size: 20px;color:rgba(2, 148, 245, 0.973);">Brand</h6>
        <form>
            <div class="form-group"> <input type="checkbox" ><span style="font-size: 15px;font-weight: 600;"> Vivo </span></div>
            <div class="form-group"> <input type="checkbox"> <span style="font-size: 15px;font-weight: 600;">Honor</span> </div>
            <div class="form-group"> <input type="checkbox" ><span style="font-size: 15px;font-weight: 600;">Realme</span>  </div>
        </form>
    </div>
    <div class="py-1  ml-3">
        <h6 class="font-weight-bold" style="font-size: 20px;color:rgba(2, 148, 245, 0.973);">Customer Ratings</h6>
        <form>
            <div class="form-group"> <input type="checkbox"> <span><i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i> <i class="fa fa-star"></i></span>
            </div>
            <div class="form-group"> <input type="checkbox"> <span > <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i> <i class="fa fa-star"></i></span> </div>
            <div class="form-group"> <input type="checkbox"> <span > <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i> </span> </div>
            <div class="form-group"> <input type="checkbox" > <span ><i class="fa fa-star"></i>
                <i class="fa fa-star"></i> </span> </div>
            <div class="form-group"> <input type="checkbox"> <span ><i class="fa fa-star"></i></span> </div>
        </form>
    </div>
    <!-- <div class="py-0 ml-3">
        <h6 class="font-weight-bold" style="font-size: 20px;color:rgba(2, 148, 245, 0.973);">Top Offers</h6>
        <form>
            <div class="form-group"> <input type="checkbox" id="25off"> <span style="font-size: 15px;font-weight: 600;">25% off</span></div>
            <div class="form-group"> <input type="checkbox" id="5off"><span style="font-size: 15px;font-weight: 600;"> 50% off </span> </div>
        </form>
    </div> -->
</section>


